@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
html {
    background-color: rgb(217, 241, 202);
    font-family: "Inter", sans-serif;
}
h1 {
    text-align: center;
    color: rgb(124, 207, 126);
}
#number {
    border-radius: 10px;
    padding: 5px 10px;
    border-style: solid;
    
}

.user-display {
    /* background-color: blue; */
    display: flex;
    justify-content: center;
}

.question {
    display: none;
  }
  
  .question.active {
    display: block;
  }