@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
html {
    background-color: rgb(255, 255, 255);
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 20px;
    min-height: 100vh;
    color: white;
    scroll-snap-type: y mandatory;
    overflow-y: hidden;
    background-size: cover; /* Resize the background image to cover the entire container */
    background-image: linear-gradient(
        to bottom,
        rgba(212, 147, 255, 0.2),
        rgba(255, 131, 241, 0.2)
    ), url('./images/background.svg');
}
h1 {
    font-size: 30px;
}


.survey {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  

/* Buttons */
button{
    /* margin-top: 13%; */
    position: absolute;
    background: #76004F;
    color: white;
    font-weight: bold;
    font-size: 18px;
    width: 211px;
    height: 53px;
    border-radius: 28px;
    bottom: 10px;
    
}

.restart {

    left: 20px;
    
}

.next {
    right: 20px;
}




h1 {
    text-align: center;
    color: rgb(255, 255, 255);
}

#number {
    border-radius: 10px;
    padding: 5px 10px;
    border-style: solid;
    
}

.user-display {
    /* background-color: blue; */
    display: flex;
    justify-content: center;
}

.question {
    display: none;
    text-align: center;
    font-size: 28px;

    
  }
  
  .option1 {
    background: #B76587;
  }
  .option2 {
    background: #8E65B7;
    
  }
  .option3 {
    background: #B565B7;
  }

  .option1, .option2, .option3 {
    flex: 1;
    width: 340px;
    height: 63px;
    border-radius: 60px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .question.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .response {
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }
  