<!DOCTYPE html>
<html>

<head>
	<title>Survey Website</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<link rel = "shortcut icon" type = "image/png" href = "../static/images/logo.png">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
	<h1>MedVisor</h1>
	<div class="survey">
		<form>
			<div class="question active">
				<label>Please rate your pain from 0-10</label>
				<div class="response">
					<input type="range" value="0" min="1" max="10" oninput="this.nextElementSibling.value = this.value">
					<output>0</output>		
				</div>
				<button type="button" class ="next">NEXT</button>
				<button type="button" class="restart">Restart</button>
			</div>

			<div class="question">
	  			<label>What age group do you fit in?</label>
				<div class="response">
					<input type="radio" class="option" name="age" value="I am young">
					<label>0-16</label>
					<input type="radio" class="option" name="age" value="">
					<label>17-64</label>
					<input type="radio" class="option" name="age" value="I am a senior citizen">
					<label>65+</label>
				</div>
				<button type="button" class="next">Next</button>
				<button type="button" class="restart">Restart</button>
			</div>


			<div class="question">
                <label>What symptoms are you experiencing?</label>
				<div class="response">
					<input type="text" class = "option" name="symptoms">
				</div>
              <button type="button" class="next">Next</button>
			  <button type="button" class="restart">Restart</button>
          	</div>

			<div class="question">
                <label>Are you experiencing any pain in the back, neck or joints?</label>
				<div class="response">
					<div class = "option1">
						<input type="radio" class = "option" name="back/neck/joints" value = "I have pain in neck, back or joints">
						<label>yes</label>
					</div>
					
					<div class = "option2">
						<input type = "radio" class = "option" name = "back/neck/joints">
						<label>no</label>
					</div>
					
				</div>
              <button type="button" class="next">Next</button>
			  <button type="button" class="restart">Restart</button>
          	</div>


			
			<div class="question">
                <label>Are you experiencing any pain or discomfort while breathing or coughing?</label>
				<div class="response">
					<div class = "option1">
						<input type="radio" class = "option" name="cough/breath" value = "I have trouble breathing or coughing">
						<label>yes</label>
					</div>
					
					<div class = "option2">
						<input type = "radio" class = "option" name = "cough/breath">
						<label>no</label>
					</div>
					
				</div>
              <button type="button" class="next">Next</button>
			  <button type="button" class="restart">Restart</button>
          	</div>

			<div class="question yes-no">
				<label>Is the pain sudden?</label>
				<div class="response">
					<div class = "option1">
						<input type="radio" class = "option" name="sudden-pain" value = "I have sudden pain">
						<label>yes</label>
					</div>
					
					<div class = "option2">
						<input type = "radio" class = "option" name = "sudden-pain">
						<label>no</label>
					</div>
					
				</div>
              <button type="button" class="next">Next</button>
			  <button type="button" class="restart">Restart</button>
          	</div>

			<div class="question yes-no">
				<label>Are you bleeding?</label>
				
				<div class="response">
					<div class = "option1">
						<input type="radio" class = "option" name="bleed" value = "I am bleeding">
						<label>yes</label>
					</div>
					
					<div class = "option2">
						<input type = "radio" class = "option" name = "bleed">
						<label>no</label>
					</div>
					
				</div>
              <button type="button" class="next">Next</button>
			  <button type="button" class="restart">Restart</button>
          	</div>

			<div class="question yes-no">
				<label>Are you experiencing any loss of mobility or stiffness in the affected area?</label>
				<div class="response">
					<div class = "option1">
						<input type="radio" class = "option" name="mobility-loss/stiffness" value = "I have a loss of mobility, stiffness, serious, broken bones">
						<label>yes</label>
					</div>
					<div class = "option2">
						<input type = "radio" class = "option" name = "mobility-loss/stiffness">
						<label>no</label>
					</div>
					
				</div>
              <button type="button" class="next">Next</button>
			  <button type="button" class="restart">Restart</button>
          	</div>

			<div class="question yes-no">
				<label>Are you experiencing any swelling?</label>
				<div class="response">
					<div class = "option1">
						<input type="radio" class = "option" name="swelling" value = "I am swelling">
						<label>yes</label>
					</div>
					<div class = "option2">
						<input type = "radio" class = "option" name = "swelling">
						<label>no</label>
					</div>
					
				</div>
              <button type="button" class="next">Next</button>
			  <button type="button" class="restart">Restart</button>
          	</div>

			<div class="question yes-no">
				<label>Is your skin irritated</label>
				<div class="response">
					<div class = "option1">
						<input type="radio" class = "option" name="irritation" value = "I have skin irration and/or rash">
						<label>yes</label>
					</div>
					<div class = "option2">
						<input type = "radio" class = "option" name = "irritation">
						<label>no</label>
					</div>
					
					
				</div>
              <button type="button" class="next">Next</button>
			  <button type="button" class="restart">Restart</button>
          	</div>

			<div class="question yes-no">
				<label>Have you been exposed to any chemicals or environmental toxins?</label>
				<div class="response">
					<div class = "option1">
						<input type="radio" class = "option" name="toxic" value = "I have been exposed to chemicals or environmental toxins">
						<label>yes</label>
					</div>
					<div class = "option2">
						<input type = "radio" class = "option" name = "toxic">
						<label>no</label>
					</div>
					
				</div>
              <button type="button" class="next">Next</button>
			  <button type="button" class="restart">Restart</button>
          	</div>

			<div class="question yes-no">
				<label>Are you suffering with your mental health?</label>
				<div class="response">
					<div class = "option1">
						<input type="radio" class = "option" name="mental" value = "I have stress/anxiety/other mental health issues">
						<label>yes</label>
					</div>
					<div class = "option2">
						<input type = "radio" class = "option" name = "mental">
						<label>no</label>
					</div>
					
				</div>
              <button type="button" class="next">Next</button>
			  <button type="button" class="restart">Restart</button>
          	</div>

			<div class="question">
				<label>Survey Complete</label>
				<button type="submit">RESULTS</button>
			</div>
		</form>
		<div id="result"></div>
        </script>


	</div>
    
    <script src="{{ url_for('static', filename='script.js') }}"></script>
	
</body>

</html>